- var { sectionTitle, nameTitle, jobTitle, moreTitle, info, descriptionList } = data.content.welcome
include ../header/header
include ../layout/base

block awesome-content
  .text
    .text__info-box
      button.button-transparent
        .icoana
          a(href="https://www.youtube.com/watch?v=GAdak4L8gsA" title="bankai" target="_blank")
            .cv-youtube

    .text__info-box
      .text__title= nameTitle

    .text__info-box
      .text__sub-title= jobTitle

      button.button-verde
        .icoana
          .cv-arrow
        | Download

    .header-wrapper-orange
      .header-orange= info

    .flex-gap16
      .box__gap-8
      .box__info-box
        .text__section-title= moreTitle

      .box__info-box
        each text in descriptionList
          .box__descriere= text
      button.button-rosu
        .icoana
          .cv-instagram
        | Let's chat!





